# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kha33\IdeaProjects\CS506-Web-Design-and-Development\src\com\kha333n\cs506\Lecture29\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
